<a href="https://colab.research.google.com/github/laurabersani/MLPNS_LBersani/blob/main/MLPNS23_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
2*2

4

# Native variables and variable types
Sono pezzi di memoria dove è salvata dell'informazione.

## integer

In [3]:
intvar=5

In [4]:
type(intvar)

int

## float

In [5]:
float(intvar)

5.0

In [6]:
floatvar=9.9

string

In [8]:
print("'Hello world'")

'Hello world'

In [27]:
strvar=('hello world')

In [11]:
print(strvar)

"wee"

## boolean

In [13]:
True

True

In [16]:
prova=5.0
intvar==prova

True

In [15]:
if intvar==prova:
  print("It was true!!!")
  print(intvar+floatvar)
else:
  print("Condition was false")

It was true!!!
14.9

In [18]:
# == is equal?
print(intvar==floatvar)
#is >?
print(intvar>floatvar)
#is <?
print(intvar<floatvar)
# != not equal
print(intvar!=floatvar)

False
False
True
True

In [19]:
# | logical or
# & logical and
(intvar>floatvar) | (intvar<floatvar)
(intvar>floatvar) & (intvar<floatvar)

False

In [20]:
True==1

True

In [21]:
# * is logical AND
# + is logical OR
if (intvar>floatvar) + (intvar<floatvar):
  print("Right!")

Right!

In [23]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

# Variable as object
Pythiìon is an object oriented language

In [28]:
strvar

'hello world'

In [31]:
strvar.capitalize()

'Hello world'

In [32]:
strvar.upper()

'HELLO WORLD'

In [33]:
strvar.isdigit()

False

In [34]:
"3".isdigit()

True

In [35]:
prova.is_integer()

True

#list

In [36]:
listvar=[intvar, floatvar, strvar, 0, True]

In [37]:
listvar.append(11)

In [39]:
'h' in strvar

True

In [40]:
listvar[1]=5

In [41]:
listvar

[5, 5, 'hello world', 0, True, 11]

# WORDLE

In [60]:
target="acres"
guess="Acres"
result=""

target=target.lower()
guess=guess.lower()

if len(target)!=len(guess):
  print("Wrong length")

else:
  for i in range(5):
    lettera=guess[i]
    if lettera==target[i]:
      result=result+lettera
    elif lettera in target:
      result=result+'*'
    else:
      result=result+'_'

print(result)

if result==target:
  print("Hai vinto")
else:
  print("try again")

acres
Hai vinto

# Functions

In [80]:
def wordle(guess):
  """
  A function that checks a guess against a target.
  Input:
    guess: a string
  Return:
    a string
  """
  target="acres"
  result=""

  target=target.lower()
  guess=guess.lower()

  if len(target)!=len(guess):
    print("Wrong length")

  else:
   for i in range(5):
    lettera=guess[i]
    if lettera==target[i]:
        result=result+lettera
    elif lettera in target:
       result=result+'*'
    else:
       result=result+'_'

  if result==target:
    print("Hai vinto")
  else:
    print("try again")

  return result

In [82]:
wordle("pallaw")

Wrong length
try again

''

#Packages

### pandas
for manipulation of tabular data
### numpy
manipulation of numperical data
### scipy
statistica
### matplotlib (pylab)
for visualization and plotting
### sklearn (scikitlearn)
machine learning
### tensorflow
neural networks

In [85]:
import pandas as pd

In [87]:
url="https://raw.githubusercontent.com/fedhere/PyBOOT/master/311_Service_Requests_from_2010_to_Present.csv"

In [88]:
df=pd.read_csv(url)

In [89]:
df #data frame
#in verticale c'è l'indice che individua i vari dati

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,54049402,05/01/2022 12:00:03 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10452.0,1006 GERARD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.830653,-73.923082,"(40.83065331987539, -73.92308231033165)"
1,54046813,05/01/2022 12:00:09 AM,05/01/2022 12:07:46 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10027.0,364 WEST 127 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.812378,-73.952401,"(40.81237834836466, -73.95240115039357)"
2,54045643,05/01/2022 12:00:17 AM,05/01/2022 12:10:38 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10033.0,593 FT WASHINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.854714,-73.937026,"(40.854713655427595, -73.93702585036192)"
3,54051838,05/01/2022 12:00:21 AM,05/01/2022 12:53:23 AM,NYPD,New York City Police Department,Blocked Driveway,Partial Access,Street/Sidewalk,11214.0,8106 17 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.611332,-74.002028,"(40.611331690801165, -74.00202773560115)"
4,54052808,05/01/2022 12:00:25 AM,05/01/2022 01:01:47 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10304.0,935 TARGEE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.605614,-74.090992,"(40.605613964168455, -74.09099181031843)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,54049386,05/01/2022 02:04:45 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10031.0,514 WEST 136 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.820160,-73.953158,"(40.82015993990901, -73.95315791994004)"
920,54049413,05/01/2022 02:05:35 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,11231.0,151 RICHARDS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.676566,-74.011100,"(40.6765664690211, -74.01110036402942)"
921,54052476,05/01/2022 02:05:38 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11208.0,37 HEMLOCK STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.688911,-73.872353,"(40.68891081481749, -73.87235278581583)"
922,54053504,05/01/2022 02:06:13 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Overnight Commercial Storage,Street/Sidewalk,11373.0,60-42 BOOTH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.731194,-73.869533,"(40.73119351356087, -73.86953320857873)"
923,54048300,05/01/2022 02:06:26 AM,NaN,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Music,Street/Sidewalk,11210.0,723 EAST 27 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.633076,-73.950965,"(40.633076468003175, -73.95096540810518)"

In [90]:
df.shape #non vuole le parentesi

(924, 41)

In [91]:
df.columns #non vuole le parentesi
#nomi delle colonne, che le identificano.

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [92]:
df.iloc[0] #index location
#restituisce pandas series, cioè la prima riga

Unique Key                                                       54049402
Created Date                                       05/01/2022 12:00:03 AM
Closed Date                                                           NaN
Agency                                                               NYPD
Agency Name                               New York City Police Department
Complaint Type                                        Noise - Residential
Descriptor                                               Loud Music/Party
Location Type                                  Residential Building/House
Incident Zip                                                      10452.0
Incident Address                                       1006 GERARD AVENUE
Street Name                                                 GERARD AVENUE
Cross Street 1                                           EAST  164 STREET
Cross Street 2                                           EAST  165 STREET
Intersection Street 1                                    EAST  164 STREET
Intersection Street 2                                    EAST  165 STREET
Address Type                                                      ADDRESS
City                                                                BRONX
Landmark                                                    GERARD AVENUE
Facility Type                                                         NaN
Status                                                        In Progress
Due Date                                                              NaN
Resolution Description                                                NaN
Resolution Action Updated Date                                        NaN
Community Board                                                  04 BRONX
BBL                                                          2024770001.0
Borough                                                             BRONX
X Coordinate (State Plane)                                      1005536.0
Y Coordinate (State Plane)                                       241916.0
Open Data Channel Type                                             ONLINE
Park Facility Name                                            Unspecified
Park Borough                                                        BRONX
Vehicle Type                                                          NaN
Taxi Company Borough                                                  NaN
Taxi Pick Up Location                                                 NaN
Bridge Highway Name                                                   NaN
Bridge Highway Direction                                              NaN
Road Ramp                                                             NaN
Bridge Highway Segment                                                NaN
Latitude                                                        40.830653
Longitude                                                      -73.923082
Location                          (40.83065331987539, -73.92308231033165)
Name: 0, dtype: object

In [93]:
df.iloc[:,1]

0      05/01/2022 12:00:03 AM
1      05/01/2022 12:00:09 AM
2      05/01/2022 12:00:17 AM
3      05/01/2022 12:00:21 AM
4      05/01/2022 12:00:25 AM
                ...
919    05/01/2022 02:04:45 AM
920    05/01/2022 02:05:35 AM
921    05/01/2022 02:05:38 AM
922    05/01/2022 02:06:13 AM
923    05/01/2022 02:06:26 AM
Name: Created Date, Length: 924, dtype: object

In [ ]:
df.loc[:,""]#loc se so il nome, iloc  se so l'indice

In [94]:
urlbis="https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"

In [95]:
pd.read_csv(urlbis, sep="::", index_col=0, header=None) 
#separatore che è :: e non volgio la prima riga, perchè c'è già l'indice, e gli dico che non ha un intestazione

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                                       1                             2
0
1                       Toy Story (1995)   Animation|Children's|Comedy
2                         Jumanji (1995)  Adventure|Children's|Fantasy
3                Grumpier Old Men (1995)                Comedy|Romance
4               Waiting to Exhale (1995)                  Comedy|Drama
5     Father of the Bride Part II (1995)                        Comedy
...                                  ...                           ...
3948             Meet the Parents (2000)                        Comedy
3949          Requiem for a Dream (2000)                         Drama
3950                    Tigerland (2000)                         Drama
3951             Two Family House (2000)                         Drama
3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 2 columns]

In [98]:
colnames=["title", "genre"] 
movies=pd.read_csv(urlbis, sep="::", index_col=0, header=None, names=colnames)

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [99]:
type(movies)

pandas.core.frame.DataFrame

In [100]:
movies.loc[:,"title"]

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: title, Length: 3883, dtype: object

In [101]:
movies["title"]

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: title, Length: 3883, dtype: object

In [102]:
movies.title

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: title, Length: 3883, dtype: object

In [103]:
movies["genre"].unique

<bound method Series.unique of 1        Animation|Children's|Comedy
2       Adventure|Children's|Fantasy
3                     Comedy|Romance
4                       Comedy|Drama
5                             Comedy
                    ...
3948                          Comedy
3949                           Drama
3950                           Drama
3951                           Drama
3952                  Drama|Thriller
Name: genre, Length: 3883, dtype: object>

In [105]:
len(movies["genre"].unique())

301

In [106]:
"Toy Story (1995)".split()[2] #divide le parole in una lista con il separatore scritto tra parentesi
#per indexare l'ultimo elemento si può fare semplicemnte [-1]

'(1995)'

In [107]:
"Toy Story (1995)".split()[2].reaplce('(','').strip(")","")

AttributeError: ignored

In [111]:
def get_year(mtitle):
  return int(mtitle.split("(")[-1].strip(')',))

In [118]:
movies['year']=movies["title"].map(get_year)

In [119]:
movies.groupby("year").count()

      title  genre
year
1919      3      3
1920      2      2
1921      1      1
1922      2      2
1923      3      3
...     ...    ...
1996    345    345
1997    315    315
1998    337    337
1999    283    283
2000    156    156

[81 rows x 2 columns]

Contare il numero