<a href="https://colab.research.google.com/github/laurabersani/MLPNS_LBersani/blob/main/MLPNS23_exfor10_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Esercizio pandas
Quanti e quali film sono solo di tipo fantasy? E quali di tipo adventure?
Quanti sono di tipo fantasy e anche altri? E adventure?

In [ ]:
import pandas as pd

In [ ]:
url="https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"

In [ ]:
colnames=["numero","title", "genre"] 
movies=pd.read_csv(url, sep="::", header=None, names=colnames)

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [ ]:
print(movies)

      numero                               title                         genre
0          1                    Toy Story (1995)   Animation|Children's|Comedy
1          2                      Jumanji (1995)  Adventure|Children's|Fantasy
2          3             Grumpier Old Men (1995)                Comedy|Romance
3          4            Waiting to Exhale (1995)                  Comedy|Drama
4          5  Father of the Bride Part II (1995)                        Comedy
...      ...                                 ...                           ...
3878    3948             Meet the Parents (2000)                        Comedy
3879    3949          Requiem for a Dream (2000)                         Drama
3880    3950                    Tigerland (2000)                         Drama
3881    3951             Two Family House (2000)                         Drama
3882    3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [ ]:
count=0
name="Fantasy"
for i in range(movies.shape[0]):
  if name==movies.genre[i]:
    count=count+1
    print(movies.title[i])
    print("Index is ", i)
count

Hungarian Fairy Tale, A (1987)
Index is  782

1

In [ ]:
count=0
name="Adventure"
for i in range(movies.shape[0]):
  if name==movies.genre[i]:
    count=count+1
    print(movies.title[i])
    print("Index is ", i)
count

Phantom, The (1996)
Index is  751
Mark of Zorro, The (1940)
Index is  929
Macao (1952)
Index is  1056
Treasure of the Sierra Madre, The (1948)
Index is  1234
Man Who Would Be King, The (1975)
Index is  1283
Prince Valiant (1997)
Index is  1780
Mutiny on the Bounty (1935)
Index is  1862
Firewalker (1986)
Index is  2408
Beyond the Poseidon Adventure (1979)
Index is  2468
Napoleon and Samantha (1972)
Index is  2826
Quest for Fire (1981)
Index is  2967
Brenda Starr (1989)
Index is  3097
Ulysses (Ulisse) (1954)
Index is  3103
Snows of Kilimanjaro, The (1952)
Index is  3138
Shanghai Surprise (1986)
Index is  3321
Bear, The (1988)
Index is  3343
Son of the Sheik, The (1926)
Index is  3423

17

In [ ]:
count=0
for i in range(movies.shape[0]):
  if ("Fantasy" in movies.genre[i]):
    count=count+1
count

68

In [ ]:
count=0
for i in range(movies.shape[0]):
  if ("Adventure" in movies.genre[i]):
    count=count+1
count

283

In [61]:
#senza for
movie_bool= movies.genre=="Fantasy"
print(sum(movie_bool))

movie_bool= movies.genre=="Adventure"
print(sum(movie_bool))

1
17

In [74]:
def efan(strtot):
  return "Fantasy" in strtot

def eadv(strtot):
  return "Adventure" in strtot

In [75]:
norip_bool=movies.genre.map(efan)#map applica a tutte le righe. per√≤ la funzione deve essere ovviamente anche 
print(sum(norip_bool))

norip_bool=movies.genre.map(eadv)
print(sum(norip_bool))

68
283